.gallery {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
 justify-content: space-evenly;
  
}

.photo-card {
  max-width: 25%;
  margin: 1%;
}

img {
  width: 100%;
 }

.btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 0;
  background-color: rgb(140, 101, 230);
}

.form-btn {
   margin: 0px;
}

.txt-input {
  display: block;
  margin-right: 15px;
  padding-left: 15px;
  height: 30px;
  border: solid 1px  rgb(140, 101, 230);
  
  }

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  margin-bottom: 24px;
  margin-top: 24px;
}


.button.is-hidden {
  display: none;
}

.button > .spinner.is-hidden {
  display: none;
}



  

